.titreh1 {
      color: rgb(255, 196, 0);
    font-family:  'Lobster', cursive;}
.laura {
      color: lightseagreen }
.imgtaille {
      height: 500px;
      width: 500px;
      margin: auto;
    }
    img{
      width: 100%;
      border-radius: 50%;
    }

    body {
      font-family: sans-serif;
  
    }

    a:hover {
      color: goldenrod;
    }

    #lauradeneufchatel {
      background-color: lightseagreen;
      text-align: center;
    }

    #meschosespreferes {
      background-color: rgb(255, 196, 0);
    }

    section {
      padding: 30px;
  
    }

    h1 {
      font-size: 40px;
    }
    .bouton {
         
      background-color: lightseagreen;
      text-align: center;
      padding: 16px 24px;
      border-radius: 10px;
        margin: auto;
      font-size: 20px;
        text-decoration: none;
        color: white;
        
    }
    .bouton:hover{
      background-color:  rgb(255, 196, 0);
    }
    div.cta{
      display: flex; 
    }